h1{
    color:white;
    font-style:italic;}
#f1{
    background-color:green;}
#f2{
    background-color:rgb(14, 152, 81);}
img{
    margin: 0;}
#b{
    color:white;background-color:rgb(19, 170, 80);font-style:none;}
a{
    text-decoration:none;}