header{background-color:yellow;}
#h1{color:white;background-color:green;font-size:53px;}
#h2{color:white;background-color:red;font-size:39px;}
#h3{color:white;background-color:blue;}
#h4{color:red;}
#h5{color:red;}
#h{color:white;background-color:blue;}
p{font-size:18px;font-style:oblique;color:white;}
body{background-color:black;}

